body{

	background-image: url("/img/fondo.jpg")
}

@font-face {
   font-family: 'Star Jedi'; /*a name to be used later*/
    src: url('http://www.fontreactor.com/foundries/boba-fonts/star-jedi.ttf'); /*URL to font*/
}

h1{
	font-family: 'Bungee', cursive;
	color: white;
	
}

#MainSty{

	text-align: center;
	color: blue;
	height: 100vh;
}

#PicSty{

	padding-top: 5px;
	width: 500px;
	height: 300px;
}

.selection{

	font-family: 'Bungee', cursive;
	color: white;
}

.btnSty{

	 font-size: 20px;
	 height: 35px;
	 width: 100px; 
	 margin: 3px; 
	 background: #222222; 
	 border: 1px; 
	 color: #FFF;

}

#mainDiv{

	height: 100vh;
	background-color: trasparent;
}

.boxInfo{

	width: 75%;
	color: black; 
	text-align: left; 
	padding: 12px 20px; 
	border: 2px solid #e8e770;
	border-radius: 5px; 
	margin: 6px auto; 
	inline: block; 
	background-color: #ccc;
   


}